.msg_position {
	position: fixed;
	width: 325px;
	height:400px;
	margin-bottom: 33px;
	margin-right: 18px;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 1;
}

.msg_content {
	position: fixed;
	margin-right: 18px;
	z-index: 1;
	opacity: 1;
	right: 0;
	bottom: 0;
}
.msg_content2 {
	border: 1px solid #BCE8F1!important;
	position: fixed;
	margin-right: 18px;
	z-index: 1;
	opacity: 1;
	right: 0;
	bottom: 0;
}
#message_container {
	background: white;
}
.chat_name {
	width:30px;
	height:30px;
}

.chat_name_change {
	width:30px;
	height:30px;
	float:right; 
	margin-right:50px; 
	margin-top:13px;
}

.balloon_right {
  display: inline-block;
  position: relative;
  background: #d9edf7;
  height: auto;
  width: auto;
  margin: 0 auto 8px;
  padding:6px 10px 6px 10px;
  border-radius: 10px;
}
.balloon_right:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #d9edf7;
	border-width: 6px;
	margin-top: -6px;
}

.balloon_left {
  display: inline-block;
  position: relative;
  background: #d9edf7;
  height: auto;
  width: auto;
  margin: 0 auto 8px;
  padding:6px 10px 6px 10px;
  border-radius: 10px;
}
.balloon_left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #d9edf7;
	border-width: 6px;
	margin-top: -6px;
}