.msg_position {
	position: fixed;
	width: 250px;
	height:300px;
	margin-bottom: 33px;
	margin-right: 18px;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 1;
}

.msg_content {
	position: fixed;
	margin-right: 18px;
	z-index: 1;
	opacity: 1;
	right: 0;
	bottom: 0;
}
.msg_content2 {
	border: 1px solid #BCE8F1!important;
	position: fixed;
	margin-right: 18px;
	z-index: 1;
	opacity: 1;
	right: 0;
	bottom: 0;
}
#message_container {
	background: white;
}
.chat_name {
	width:30px;
	height:30px;
	margin-top:-10px;
}