.profile_notice_img {
	float: left;
	width: 30px;
	height: 30px;
	margin-top:3px;
	border-radius: 50%;
}
.board_img {
	width: 40px;
	height: 40px;
}
.notice_message {
	float:left;
	margin-top: 7px;
	margin-left:25px;
}
.notice_message2 {
	margin-top: -25px;
	padding-top: -25px;
	font-size: 25px;
	font-weight:bold;
	display:none;
}
.noticeList {
	margin-top:30px!important;
	margin-bottom:-20px!important;
	padding-bottom:-20px!important;
}
@media all and (max-width: 1000px) {
 	.w3-border2 {
 		width:300px;
 		margin-left:67%;
 	}
	.notice_message{display:none;} 
	.notice_message2{display:block;}
}
@media all and (max-width: 820px) {
 	.w3-border2 {display:none;}
}