<style>
	body{
		background:#f5f5f5;
	}
	.signup{
			margin-top:10%;
			float:right;
			border: 1px solid #ccc;
	}
	.gap{
		padding-left:10%;
	}
	#line {
		text-align: center;
 		border-bottom: 1px solid #eee;
 		margin-bottom: 10%;
	}
	.signuplocation{
		height:70%;
		margin-top:10%;
	}
	.signup{
		margin-right:5%;
		background: white;
		width:40%;
		height: 70%;
	}
	.check{
		padding-left:2%;
		color:green;
		margin: 0 6%;
	}
	.image{
		float: left;
	    width: 450px;
	    height: 600px;
	    margin-top: 4%;
		background-image : url("/resources/image/38825c9d5aa2.png");
	}
	input,#submit{
		width:77%;
		margin: 4% 6% auto;
	}
	article{
		border: 1px solid #eee;
	}
	@media (max-width: 997px){
		.image{
			display:none;
		}
		.signup{
			 margin: 10% 7% auto;
   			 width: 80%;
		}
	}
	
</style>