<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="net.nigne.wholegram.mappers.boardMapper">
	
	<select id="getOne" resultType="net.nigne.wholegram.domain.BoardVO">
		select * from board where board_num = #{board_num}
	</select>
	
	<select id="getUserLimitList" resultType="net.nigne.wholegram.domain.BoardVO">
		select * from board where user_id = #{user_id} order by board_num desc limit 0,9 
	</select>
	<select id="getScrollList" resultType="net.nigne.wholegram.domain.BoardVO">
		select board_num,media,media_type,media_thumnail from board where user_id = #{item} order by board_num desc limit #{start},#{end} 
	</select>
	
	
	
	<select id="SearchIterate" resultType="net.nigne.wholegram.domain.BoardVO">
		select * from board where
		<foreach item="item" index="index" collection="list" open="(" close=")" separator="or">
            content like CONCAT("%",#{item}," %")
    	</foreach>
    	    order by board_num desc limit 0,9
	</select>
	
	<select id="SearchScrollIterate" resultType="net.nigne.wholegram.domain.BoardVO">
		select * from board where
		<foreach item="item" index="index" collection="list" open="(" close=")" separator="or">
            content like CONCAT("%",#{item}," %")
    	</foreach>
    	    order by board_num desc limit #{start},#{end}
	</select>
	
	<select id="searchCount" resultType="int">
		select count(*) from board where
		<foreach item="item" index="index" collection="list" open="(" close=")" separator="or">
            content like CONCAT("%",#{item}," %")
    	</foreach>
	</select>
	
	<select id="get" resultType="net.nigne.wholegram.domain.BoardVO">
		select * from board where user_id = #{user_id} order by rand() limit 1
	</select>
	
	<select id="getbdList" resultType="net.nigne.wholegram.domain.BoardVO">
		select distinct * from board where user_id = #{user_id} order by rand() limit 3
	</select>

	<select id="getboardList" resultType="net.nigne.wholegram.domain.BoardVO">
		select * from board where user_id = #{user_id} 
	</select>
	
	<select id="getList" resultType="net.nigne.wholegram.domain.BoardVO">
		select * from board order by board_num desc limit #{startNum}, #{pagePerBlock}
	</select>
	
	<select resultType="int" id="getUserCount">
		 select count(*) from board where user_id = #{item}
	</select>
	
	<update id="heartCount">
		update board set heart = heart + #{cri} where board_num = #{bnum} 
	</update>
	
	<select id="getHeart" resultType="int">
		select heart from board where board_num = #{board_num}
	</select>
	
	<select resultType="int" id="getTotalCount">
		 select count(*) from board
	</select>
	
	<select resultType="long" id="getTime">
		 select date_format( reg_date,'%Y%m%d%H%i%s' ) from board where board_num = #{board_num}; 
	</select>
	
</mapper>