<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="net.nigne.wholegram.mappers.chatMapper">
 	<insert id="chat_room">
 		insert into chat values()
 	</insert>
 	<select id="getchat_room" resultType="int">
 		select last_insert_id()
 	</select>
 	<insert id="user_room">
 		insert into chat_user (chat_chat_num, member_user_id) values(#{chat_num}, #{user_id})
 	</insert>
 	<insert id="msgStorage">
 		insert into msg_list (chat_chat_num, msg, written_user_id) values(#{chat_num}, #{msg_content}, #{written_user_id})
 	</insert>
 	<select id="msgGet" resultType="net.nigne.wholegram.domain.MessageVO">
 		select msg, written_user_id from msg_list where chat_chat_num = #{chat_num}
 	</select>
 	<select id="getRoomNumber" resultType="int">
 		select chat_chat_num from chat_user where member_user_id = #{user_id}
 	</select>
 	<select id="getRoomUser" resultType="net.nigne.wholegram.domain.Chat_userVO">
 		select * from chat_user where chat_chat_num = #{room_number}
 	</select>
 	<select id="getRoomData" resultType="net.nigne.wholegram.domain.Msg_listVO">
 		select msg, written_user_id from msg_list where chat_chat_num = #{roomNumber}
 	</select>
 </mapper>