<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="net.nigne.wholegram.mappers.followMapper">
	<select id="getFollowing_Userid" resultType="String">
		select follower from follow where following = #{user_id}
	</select>

	<select id="getfwList" resultType="net.nigne.wholegram.domain.FollowVO">
		select * from follow 
	</select>
	
	<insert id="followInsert">
		insert into follow( follow_num, following, follower, flag, reg_date )
		values( #{follow_num}, #{following}, #{follower}, #{flag}, #{reg_date} )
	</insert>
	
	<delete id="followDelete">
		delete from follow where follow_num = #{follow_num} and following = #{following}
	</delete>
</mapper>