<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="net.nigne.wholegram.mappers.NoticeMapper">
	<insert id="insertNoticeHeart">
		insert into notice (user_id, other_id, board_num, media, flag) values (#{user_id}, #{other_id}, #{board_num}, #{media}, #{flag})
	</insert>
	<delete id="deleteNoticeHeart">
		delete from notice where user_id = #{user_id} and board_num = #{board_num}
	</delete>
	<select id="checkNotice" resultType="net.nigne.wholegram.domain.NoticeVO">
		select * from notice where other_id = #{user_id} order by date desc limit 30;
	</select>
	<insert id="insertFromUpload">
		insert into notice(user_id,other_id,refer_content,media,flag,board_num) values
		<foreach item="item" index="index" collection="user_id2"  separator=",">
            (#{other_id},#{item},#{refer_content},#{media},#{flag},#{board_num})		<!-- 처음에 Controller에서 vo를 설정해줄 때, user_id 와 other_id 값 설정실수(바뀌었음), 그래서 이곳에서 바꿔서 insert해줌-->
    	</foreach>
	</insert>
	<insert id="rnInsert">
		insert into notice(user_id, other_id, refer_content, media, flag, reply_num, board_num )
		values(#{user_id}, #{other_id}, #{refer_content}, #{media}, #{flag}, #{reply_num}, #{board_num} )
	</insert>
	<delete id="rnDelete">
		delete from notice where reply_num = #{reply_num}
	</delete>
	<insert id="insertFollow">
		insert into notice(user_id, other_id, flag) values(#{vo.following}, #{vo.follower}, #{flag});
	</insert>
	<update id="RemoveNotice">
		update notice
		<set>
			check_notice = "true"
		</set>
		where notice_num = #{notice_num}
	</update>
</mapper>